.header-container{
    // height: 8vh;
    background-color: #1d1d1b;
    .nav-links-container{
        .nav-link{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                cursor: pointer;
            }
        }
        .nav-icons{
            color: white;
            font-size: 45px;
        }
    } 
}

@media (min-width:1400px) and (max-width:1700px) {
    .header-container .nav-links-container .nav-icons {
    
        font-size: 35px;
    }
    
}   



