$color:var(--background);
$light-color:var(--primary);
.banner-container{
    background-size: cover;

    box-shadow: #c3c3c3 1px 1px 3px 1px;
    border-radius: 5px;
    position: relative;
    .banners{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .banner-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            padding: 0.5rem;
            // border: 2px solid transparent;
            img {
                width: 40px;
                height: 40px;
             
            }
            .img-text {
                font-size: 9px;
                color: #000000;
                text-align: center;
            }
            width: 6vw;
            
        } 
    } 
   .banner-item {
        border: 2px solid $light-color
    }
    .banner-item:hover{
        border: 2px solid $color;
    }

    .banner-bg-img{
        background-image: url("../../Assets/Icons/banner.jpg");
        height: 75px;
    
    }
    .banner-empty{
        border-top: 2px solid #c3c3c9;
        height: 75px;
        // background-color: $light-color;
    }



}

@media (min-width:1400px) and (max-width:1700px) {
    .banner-container .banners .banner-item {
            width: 8vw !important;
            img {
                width: 30px;
                height: 30px;
             
            }
            .img-text {
                font-size: 9px;
                color: #000000;
                text-align: center;
            }
            width: 6vw;
        } 
    .banner-container{
        .banner-bg-img{
            height: 50px;
        
        }
        .banner-empty{
            border-top: 2px solid #c3c3c9;
            height: 50px;
        }
    }
    
}