$hover-color: var(--primary);
.footer-content{
    position: fixed;
    bottom: 0;
    background-color: #e8e8e8;
    font-family: Arial Regular;
    .footer-links ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin-bottom: 0px;
        li{
            cursor: pointer;
        }
    }
}

.footer-content .footer-links ul li:hover{
    background-color: $hover-color;
}

@media (min-width:1025px) and (max-width:1399px) {
    .footer-content
        .footer-links ul
            li{
                font-size: 13px;
            }
        
    
}
@media (min-width:1400px) and (max-width:1700px) {
    .footer-content
        .footer-links ul
            li{
                font-size: 15px;
            }
        
    
}
