.ps-sidebar-container {
    background-color: white !important;
    
    .announce-img img{
        width:100px ;
        height: 100px;
    }
}
.ps-sidebar-root{
    width: 400px;
}
.ps-rtl{
    direction: unset !important;
}
.announcement-container{
    .annoucement{
        height: 94vh !important;
        border: 1px solid #cecece;
        box-sizing: border-box;
    }
    .anc-title{
        font-size: 16px;
    }
    .anc-date{
        font-size: 13px;
    }
    .anc-info{
        font-size: 14px;
    }
}

@media (min-width:1400px) and (max-width:1700px) {
    .announcement-container{
        .anc-title{
            font-size: 14px;
        }
        .anc-date{
            font-size: 11px;
        }
        .anc-info{
            font-size: 13px;
        }
    }
}

@media (min-width:1025px) and (max-width:1399px) {
    .announcement-container{
        .anc-title{
            font-size: 13px;
        }
        .anc-date{
            font-size: 9px;
        }
        .anc-info{
            font-size: 11px;
        }
    }
}