$color: var(--background);
$SelectedRegioncolor: var(--secondary);
.NA-cls-1 {
    fill: none;
}

.NA-cls-1, .NA-cls-2 {
    stroke-width: 0px;
}

.NA-cls-2 {
    fill: $color;
}
.card-selected {
    .NA-cls-2 {
        fill: $SelectedRegioncolor;
    }
}

.NA-cls-3 {
    opacity: .1;
}

.NA-cls-4 {
    clip-path: url(#clippath);
}
