$color:var(--background);
$light-color:var(--primary);

.dashboard-page{
    height: 100vh !important;
}
.theme-top-border{
    background-color: $color;
}

@media (min-width:1400px) and (max-width:1700px) {
    .introjs-tooltip-title{
        font-size: 15px !important;
    }
    .introjs-tooltiptext,.introjs-button{
        font-size: 13px !important;
    }
}

@media(min-width:1024px) and (max-width:1399px) {
    .introjs-tooltip-title{
        font-size: 13px !important;
    }
    .introjs-tooltiptext,.introjs-button{
        font-size: 11px !important;
    }
}

