$color:var(--background);
$light-color:var(--primary);

#dashboard-logo {
    .cls-1 {
        fill: #151515;
    }

    .cls-1, .cls-2, .cls-3, .cls-4 {
        stroke-width: 0px;
    }

    .cls-2 {
        fill: $color;
    }

    .cls-3 {
        fill: $light-color;
    }

    .cls-5 {
        fill: white;
        stroke: #9ab5b9;
        stroke-miterlimit: 10;
        stroke-width: 6px;
    }

    .cls-4 {
        fill: #fff;
    }
    width:7vw;
    height:7vh;
}
